<h1>Novo Cliente </h1>

<%= form_for @client do |f| -%>
	<%= f.label :Nome %>
	<%= f.text_field :nome %>
	<br><br>
	<%= f.label :Email %>
	<%= f.text_field :email %>
	<br><br>
	
	<%= f.submit 'Salvar'%>
<% end -%>

<table>
<tr>
<td><strong>ID</strong></td>
<td><strong>Nome</strong></td>
<td><strong>Email</strong></td>
</tr>

<% @clients.each do |client| %>	
<tr>
<td><%=client.id %></td>
<td><%=client.nome %></td>
<td><%=client.email %></td>
<td><%=link_to 'Detalhes', client%></td>
</tr>
<% end -%>

</table>
