<center>
<table width=70%><tr><td>
<h1>Novo Cliente </h1>

<%= form_for @client do |f| -%>
	<%= f.label :Nome %>
	<%= f.text_field :nome %>
	<br><br>
	<%= f.label :Email %>
	<%= f.text_field :email %>
	<br><br>
	
	<%= f.submit 'Salvar'%>
<% end -%>

</td></tr></table>
</center>
<br>
<center>
<table width=70% border=1>
<tr>
<td><strong>ID</strong></td>
<td><strong>Nome</strong></td>
<td><strong>Email</strong></td>
<td></td>
</tr>

<% @clients.each do |client| %>	
<tr>
<td><%=client.id %></td>
<td><%=client.nome %></td>
<td><%=client.email %></td>
<td><%=link_to 'Detalhes', client%></td>
</tr>
<% end -%>

</table>
